#GBA overlay made by Daskoul

overlays = 2

overlay0_overlay = gba_portrait.png
overlay0_name = gba_portrait
overlay1_overlay = gba_landscape.png
overlay1_name = gba_landscape

overlay0_full_screen = true
overlay1_full_screen = true

#GBA Normal
overlay0_descs = 16
overlay0_desc0  = "left,67,1015,rect,50,50"
overlay0_desc1  = "right,256,1015,rect,50,50"
overlay0_desc2  = "up,161,921,rect,50,50"
overlay0_desc3  = "down,161,1110,rect,50,50"
overlay0_desc4  = "select,301,1225,rect,37,37"
overlay0_desc5  = "start,419,1225,rect,37,37"
overlay0_desc6 = "b,467,1086,radial,74,74"
overlay0_desc7 = "a,614,952,radial,74,74"
overlay0_desc8 = "l,98,773,radial,100,25"
overlay0_desc9 = "r,616,773,radial,100,25"
overlay0_desc10 = "menu_toggle,40,1225,rect,37,37"
overlay0_desc11 = "left|up,61,914,rect,34,34"
overlay0_desc12 = "left|down,61,1116,rect,34,34"
overlay0_desc13 = "right|up,263,914,rect,34,34"
overlay0_desc14 = "right|down,263,1116,rect,34,34"
overlay0_desc15 = "overlay_next,0,0,rect,0,0"
overlay0_desc15_next_target = "gba_landscape"

#GBA Landscape
overlay1_descs = 16
overlay1_desc0  = "left,67,1015,rect,50,50"
overlay1_desc1  = "right,256,1015,rect,50,50"
overlay1_desc2  = "up,161,921,rect,50,50"
overlay1_desc3  = "down,161,1110,rect,50,50"
overlay1_desc4  = "select,301,1225,rect,37,37"
overlay1_desc5  = "start,419,1225,rect,37,37"
overlay1_desc6 = "b,467,1086,radial,74,74"
overlay1_desc7 = "a,614,952,radial,74,74"
overlay1_desc8 = "l,98,773,radial,100,25"
overlay1_desc9 = "r,616,773,radial,100,25"
overlay1_desc10 = "menu_toggle,40,1225,rect,37,37"
overlay1_desc11 = "left|up,61,914,rect,34,34"
overlay1_desc12 = "left|down,61,1116,rect,34,34"
overlay1_desc13 = "right|up,263,914,rect,34,34"
overlay1_desc14 = "right|down,263,1116,rect,34,34"
overlay1_desc15 = "overlay_next,0,0,rect,0,0"
overlay1_desc15_next_target = "gba_portrait"