#NES overlay made by Daskoul

overlays = 2

overlay0_overlay = nes_portrait.png
overlay0_name = nes_portrait
overlay1_overlay = nes_pause.png
overlay1_name = nes_pause

overlay0_full_screen = true
overlay1_full_screen = true

#NES Normal
overlay0_descs = 9
overlay0_desc0  = "left,104,975,rect,50,50"
overlay0_desc1  = "right,261,975,rect,50,50"
overlay0_desc2  = "up,184,899,rect,50,50"
overlay0_desc3  = "down,184,1051,rect,50,50"
overlay0_desc4  = "select,457,1142,rect,37,37"
overlay0_desc5  = "start,594,1142,rect,37,37"
overlay0_desc6 = "b,445,966,radial,74,74"
overlay0_desc7 = "a,605,966,radial,74,74"
overlay0_desc8 = "overlay_next,68,1210,rect,37,37"
overlay0_desc8_next_target = "nes_pause"

#NES Pause Portrait
overlay1_descs = 5
overlay1_desc0  = "toggle_fast_forward,609,954,rect,60,60"
overlay1_desc1 = "menu_toggle,114,810,rect,100,25"
overlay1_desc2 = "save_state,143,955,rect,60,60"
overlay1_desc3 = "load_state,375,955,rect,60,60"
overlay1_desc4 = "overlay_next,654,810,rect,100,25"
overlay1_desc4_next_target = "nes_portrait"