#NES overlay made by Daskoul

overlays = 4

overlay0_overlay = nes_portrait.png
overlay0_name = nes_portrait
overlay1_overlay = nes_pause.png
overlay1_name = nes_pause
overlay2_overlay = nes_landscape.png
overlay2_name = nes_landscape
overlay3_overlay = nes_pause_landscape.png
overlay3_name = nes_pause_landscape

overlay0_full_screen = true
overlay1_full_screen = true
overlay2_full_screen = true
overlay3_full_screen = true

#NES Normal
overlay0_descs = 10
overlay0_desc0  = "left,104,975,rect,50,50"
overlay0_desc1  = "right,261,975,rect,50,50"
overlay0_desc2  = "up,184,899,rect,50,50"
overlay0_desc3  = "down,184,1051,rect,50,50"
overlay0_desc4  = "select,457,1142,rect,37,37"
overlay0_desc5  = "start,594,1142,rect,37,37"
overlay0_desc6 = "b,445,966,radial,74,74"
overlay0_desc7 = "a,605,966,radial,74,74"
overlay0_desc8 = "overlay_next,68,1210,rect,37,37"
overlay0_desc8_next_target = "nes_pause"
overlay0_desc9 = "overlay_next,0,0,rect,0,0"
overlay0_desc9_next_target = "nes_landscape"

#NES Pause Portrait
overlay1_descs = 5
overlay1_desc0  = "toggle_fast_forward,609,954,rect,60,60"
overlay1_desc1 = "menu_toggle,114,810,rect,100,25"
overlay1_desc2 = "save_state,143,955,rect,60,60"
overlay1_desc3 = "load_state,375,955,rect,60,60"
overlay1_desc4 = "overlay_next,654,810,rect,100,25"
overlay1_desc4_next_target = "nes_portrait"

#NES Landscape
overlay2_descs = 11
overlay2_desc0  = "left,104,975,rect,50,50"
overlay2_desc1  = "right,261,975,rect,50,50"
overlay2_desc2  = "up,184,899,rect,50,50"
overlay2_desc3  = "down,184,1051,rect,50,50"
overlay2_desc4  = "select,457,1142,rect,37,37"
overlay2_desc5  = "start,594,1142,rect,37,37"
overlay2_desc6 = "b,445,966,radial,74,74"
overlay2_desc7 = "a,605,966,radial,74,74"
overlay2_desc8 = "menu_toggle,1392,115,rect,37,37"
overlay2_desc9 = "overlay_next,935,775,rect,100,25"
overlay2_desc9_next_target = "nes_pause_landscape"
overlay2_desc10 = "overlay_next,0,0,rect,0,0"
overlay2_desc10_next_target = "nes_portrait"

#NES Pause Landscape
overlay3_descs = 5
overlay3_desc0  = "toggle_fast_forward,1505,806,rect,60,60"
overlay3_desc1 = "menu_toggle,294,616,rect,100,25"
overlay3_desc2 = "save_state,274,812,rect,60,60"
overlay3_desc3 = "load_state,928,812,rect,60,60"
overlay3_desc4 = "overlay_next,1532,954,rect,100,25"
overlay3_desc4_next_target = "nes_landscape"