#NES overlay made by Daskoul

overlays = 2

overlay0_overlay = nes_portrait.png
overlay0_name = nes_portrait
overlay1_overlay = nes_landscape.png
overlay1_name = nes_landscape

overlay0_full_screen = true
overlay1_full_screen = true

#NES Normal
overlay0_descs = 10
overlay0_desc0  = "left,104,975,rect,50,50"
overlay0_desc1  = "right,261,975,rect,50,50"
overlay0_desc2  = "up,184,899,rect,50,50"
overlay0_desc3  = "down,184,1051,rect,50,50"
overlay0_desc4  = "select,457,1142,rect,37,37"
overlay0_desc5  = "start,594,1142,rect,37,37"
overlay0_desc6 = "b,445,966,radial,74,74"
overlay0_desc7 = "a,605,966,radial,74,74"
overlay0_desc8 = "menu_toggle,68,1210,rect,37,37"
overlay0_desc9 = "overlay_next,0,0,rect,0,0"
overlay0_desc9_next_target = "nes_landscape"

#NES Landscape
overlay1_descs = 10
overlay1_desc0  = "left,104,975,rect,50,50"
overlay1_desc1  = "right,261,975,rect,50,50"
overlay1_desc2  = "up,184,899,rect,50,50"
overlay1_desc3  = "down,184,1051,rect,50,50"
overlay1_desc4  = "select,457,1142,rect,37,37"
overlay1_desc5  = "start,594,1142,rect,37,37"
overlay1_desc6 = "b,445,966,radial,74,74"
overlay1_desc7 = "a,605,966,radial,74,74"
overlay1_desc8 = "menu_toggle,1392,115,rect,37,37"
overlay1_desc9 = "overlay_next,0,0,rect,0,0"
overlay1_desc9_next_target = "nes_portrait"