#GBC overlay made by Daskoul

overlays = 3

overlay0_overlay = gbc_portrait.png
overlay0_name = gbc_portrait
overlay1_overlay = gbc_pause.png
overlay1_name = gbc_pause
overlay2_overlay = gbc_landscape.png
overlay2_name = gbc_landscape

overlay0_full_screen = true
overlay1_full_screen = true
overlay2_full_screen = true

#GBC Normal
overlay0_descs = 14
overlay0_desc0  = "left,67,1015,rect,50,50"
overlay0_desc1  = "right,256,1015,rect,50,50"
overlay0_desc2  = "up,161,921,rect,50,50"
overlay0_desc3  = "down,161,1110,rect,50,50"
overlay0_desc4  = "select,301,1225,rect,37,37"
overlay0_desc5  = "start,419,1225,rect,37,37"
overlay0_desc6 = "b,467,1086,radial,74,74"
overlay0_desc7 = "a,614,952,radial,74,74"
overlay0_desc8 = "left|up,61,914,rect,34,34"
overlay0_desc9 = "left|down,61,1116,rect,34,34"
overlay0_desc10 = "right|up,263,914,rect,34,34"
overlay0_desc11 = "right|down,263,1116,rect,34,34"
overlay0_desc12 = "overlay_next,40,1225,rect,37,37"
overlay0_desc12_next_target = "gbc_pause"
overlay0_desc13 = "overlay_next,0,0,rect,0,0"
overlay0_desc13_next_target = "gbc_landscape"

#GBC Pause
overlay1_descs = 5
overlay1_desc0  = "toggle_fast_forward,609,954,rect,60,60"
overlay1_desc1 = "menu_toggle,114,810,rect,100,25"
overlay1_desc2 = "save_state,143,955,rect,60,60"
overlay1_desc3 = "load_state,375,955,rect,60,60"
overlay1_desc4 = "overlay_next,654,810,rect,100,25"
overlay1_desc4_next_target = "gbc_portrait"

#GBC Landscape
overlay2_descs = 14
overlay2_desc0  = "left,67,1015,rect,50,50"
overlay2_desc1  = "right,256,1015,rect,50,50"
overlay2_desc2  = "up,161,921,rect,50,50"
overlay2_desc3  = "down,161,1110,rect,50,50"
overlay2_desc4  = "select,301,1225,rect,37,37"
overlay2_desc5  = "start,419,1225,rect,37,37"
overlay2_desc6 = "b,467,1086,radial,74,74"
overlay2_desc7 = "a,614,952,radial,74,74"
overlay2_desc8 = "menu_toggle,40,1225,rect,37,37"
overlay2_desc9 = "left|up,61,914,rect,34,34"
overlay2_desc10 = "left|down,61,1116,rect,34,34"
overlay2_desc11 = "right|up,263,914,rect,34,34"
overlay2_desc12 = "right|down,263,1116,rect,34,34"
overlay2_desc13 = "overlay_next,0,0,rect,0,0"
overlay2_desc13_next_target = "gbc_portrait"