#SNES overlay made by Daskoul
overlays = 4

overlay0_overlay = snes_portrait.png
overlay0_name = snes_portrait
overlay1_overlay = snes_pause.png
overlay1_name = snes_pause
overlay2_overlay = snes_landscape.png
overlay2_name = snes_landscape
overlay3_overlay = snes_pause_landscape.png
overlay3_name = snes_pause_landscape

overlay0_full_screen = true
overlay1_full_screen = true
overlay2_full_screen = true
overlay3_full_screen = true

#SNES Normal
overlay0_descs = 18
overlay0_desc0  = "left,66,1014,rect,50,50"
overlay0_desc1  = "right,261,1014,rect,50,50"
overlay0_desc2  = "up,163,917,rect,50,50"
overlay0_desc3  = "down,163,1112,rect,50,50"
overlay0_desc4  = "select,302,1225,rect,37,37"
overlay0_desc5  = "start,419,1225,rect,37,37"
overlay0_desc6 = "b,520,1116,radial,74,74"
overlay0_desc7 = "a,619,1012,radial,74,74"
overlay0_desc8 = "y,414,1013,radial,74,74"
overlay0_desc9 = "x,514,911,radial,74,74"
overlay0_desc10 = "l,107,774,radial,100,25"
overlay0_desc11 = "r,613,774,radial,100,25"
overlay0_desc12 = "left|up,63,914,rect,68,68"
overlay0_desc13 = "left|down,63,1115,rect,68,68"
overlay0_desc14 = "right|up,264,914,rect,68,68"
overlay0_desc15 = "right|down,265,1115,rect,68,68"
overlay0_desc16 = "overlay_next,41,1225,rect,37,37"
overlay0_desc16_next_target = "snes_pause"
overlay0_desc17 = "overlay_next,0,0,rect,0,0"
overlay0_desc17_next_target = "snes_landscape" 

#SNES Pause Portrait
overlay1_descs = 5
overlay1_desc0  = "toggle_fast_forward,609,954,rect,60,60"
overlay1_desc1 = "menu_toggle,114,810,rect,100,25"
overlay1_desc2 = "save_state,143,955,rect,60,60"
overlay1_desc3 = "load_state,375,955,rect,60,60"
overlay1_desc4 = "overlay_next,654,810,rect,100,25"
overlay1_desc4_next_target = "snes_portrait"

#SNES Landscape
overlay2_descs = 19
overlay2_desc0  = "left,66,1014,rect,50,50"
overlay2_desc1  = "right,261,1014,rect,50,50"
overlay2_desc2  = "up,163,917,rect,50,50"
overlay2_desc3  = "down,163,1112,rect,50,50"
overlay2_desc4  = "select,302,1225,rect,37,37"
overlay2_desc5  = "start,419,1225,rect,37,37"
overlay2_desc6 = "b,520,1116,radial,74,74"
overlay2_desc7 = "a,619,1012,radial,74,74"
overlay2_desc8 = "y,414,1013,radial,74,74"
overlay2_desc9 = "x,514,911,radial,74,74"
overlay2_desc10 = "l,107,774,radial,100,25"
overlay2_desc11 = "r,613,774,radial,100,25"
overlay2_desc12 = "left|up,63,914,rect,68,68"
overlay2_desc13 = "left|down,63,1115,rect,68,68"
overlay2_desc14 = "right|up,264,914,rect,68,68"
overlay2_desc15 = "right|down,265,1115,rect,68,68"
overlay2_desc16 = "overlay_next,41,1225,rect,37,37"
overlay2_desc16_next_target = "snes_portrait" 
overlay2_desc17 = "overlay_next,0,0,rect,0,0"
overlay2_desc17_next_target = "snes_portrait" 

#SNES Pause Landscape
overlay3_descs = 5
overlay3_desc0  = "toggle_fast_forward,1505,806,rect,60,60"
overlay3_desc1 = "menu_toggle,294,616,rect,100,25"
overlay3_desc2 = "save_state,274,812,rect,60,60"
overlay3_desc3 = "load_state,928,812,rect,60,60"
overlay3_desc4 = "overlay_next,1532,954,rect,100,25"
overlay3_desc4_next_target = "snes_landscape"